$cor-padrao:blue;
$color-cards:#fff;
$size-cards-dados:33%;
$color:#bb0505;

$mq-mobile: "(max-width: 980px)";
$mq-desktop: "(min-width:800px)";
$mq-desktop-max: "(max-width:800px)";
$mq-desktop-min: "(min-width:500px)";

$mq-mobile-min: "(min-width:1px)";
$mq-mobile-max: "(max-width: 500px)";




