/* You can add global styles to this file, and also import other style files */
body{
    background-color: #ccc !important;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-size: cover;
    background: url('/assets/imgs/background.jpg') no-repeat center top;   
}